<header>
  <div class="cover text-white text-center py-5">
    <h1 class="display-1">QuizApp</h1>
    <a href="" class="btn btn-primary btn-lg"> アプリについて</a>
  </div>
</header>
<main>
  <section class="py-5">
    <h2 class="text-center mb-5">クイズを投稿する</h2>
    <div class="container">
      <div class="mb-5 row">
        <div class="col-sm-8">
          <h3>クイズの投稿</h3>
          <p>ユーザー登録をするとクイズを投稿することができます</p>
          <p>作成したクイズが誰かの役に立つかもしれません</p>
          <p>作成したクイズはマイページでジャンル分けすることができます</p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'depositphotos_346815202-stock-illustration-quiz-seamless-pattern-question-marks.jpg', class: 'w-100 rounded-circle' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 order-sm-2">
          <h3>クイズの投稿</h3>
          <p>ユーザー登録をするとクイズを投稿することができます</p>
          <p>作成したクイズが誰かの役に立つかもしれません</p>
          <p>作成したクイズはマイページでジャンル分けすることができます</p>
        </div>
        <div class="col-sm-4 order-sm-1">
          <%= image_tag 'depositphotos_346815202-stock-illustration-quiz-seamless-pattern-question-marks.jpg', class: 'w-100 rounded-circle' %>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light text-center py-5">
    <h2 class="mb-5">過去問で合格確率を算出する</h2>
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr><th>2020年</th><th>2019年</th></tr>
        </thead>
        <tbody>
          <tr><td>section1</td><td>section1</td></tr>
          <tr><td>section2</td><td>section2</td></tr>
          <tr><td>section3</td><td>section3</td></tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="py-5">
    <h2 class="mb-5 text-center">How to use</h2>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#quiz_make" class="nav-link active" data-toggle="tab">クイズの作成方法</a></li>
        <li class="nav-item"><a href="#past_questions" class="nav-link" data-toggle="tab">過去問の解答方法</a></li>
        <li class="nav-item"><a href="#wrong_questions" class="nav-link" data-toggle="tab">間違った問題のみの解答</a></li>
      </ul>
      <div class="tab-content">
        <div id="quiz_make" class="tab-pane active">
          <p>クイズの作成方法</p>
        </div>
        <div id="past_questions" class="tab-pane">
          <p>過去問の解答方法</p>
        </div>
        <div id="wrong_questions" class="tab-pane">
          <p>間違った問題のみの解答方法</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light text-center py-5">
    <a href="" class="btn btn-primary btn-lg">過去問解答にすすむ</a>
  </section>
</main>
<footer class="text-center text-muted py-4">
  Copyright YYYY systemdrive.com
</footer>
